<!DOCTYPE html>
<html>
<head>
  <title>Card shark</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "card_shark/application", media: "all" %>
  <%= javascript_include_tag "card_shark/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
